101 ICON "lamp.ico"

1 VERSIONINFO
 FILEVERSION 0,4,0,0
 PRODUCTVERSION 0,4,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x2L
 FILEOS 0x40004L
 FILETYPE 1
 FILESUBTYPE 0
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "Lev Kropp and LAMP contributors\0"
   VALUE "FileDescription", "Lev's Assembly Media Player\0"
   VALUE "FileVersion", "0.4.0-dev\0"
   VALUE "InternalName", "LAMP\0"
   VALUE "LegalCopyright", "Copyright (c) 2026 LAMP contributors. MIT license.\0"
#ifdef LAMP_CLI
   VALUE "OriginalFilename", "lamp-cli.exe\0"
#else
   VALUE "OriginalFilename", "lamp.exe\0"
#endif
   VALUE "ProductName", "LAMP - Lev's Assembly Media Player\0"
   VALUE "ProductVersion", "0.4.0-dev\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
